[Unit]
Description=IP Packet Filtering Framework
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/etc/network/if-up.d/restore-iptables

ExecReload=/usr/sbin/iptables -F
ExecReload=/etc/network/if-up.d/restore-iptables

ExecStop=/usr/sbin/iptables -F
ExecStop=/usr/sbin/ip6tables -F

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target